:root{
  --banner-width: 173px;
  --asset-perc: calc(var(--banner-width)/308);
  --banner-height: calc(560*var(--asset-perc));
  --ban-size: calc(120*var(--asset-perc));
  --name-plate-height: var(--ban-size);
  --base-padding: 5px;
  --base-color: #02052b;
}

#container{
  display: grid;
  position: absolute;

  grid-template-columns: calc(5*var(--banner-width))px var(--banner-width) calc(5*var(--banner-width))px ;
  grid-template-rows: var(--banner-height) var(--ban-size);
}

.center{
  grid-column: 2;
  grid-row: 1;

  width:  var(--banner-width);
  background-color: var(--base-color);
  display: grid;

  justify-items: center;
  align-items: center;
  grid-template-rows: calc(var(--banner-height) - 2*var(--ban-size)) var(--ban-size) var(--ban-size);
}

.logo{
  grid-row: 1;

  position: relative;
  width: calc(0.66*var(--banner-width));
  text-align: center;
}

.timer-box{
  grid-row: 2;

  width: var(--banner-width);
  height: var(--ban-size);
  background-color: white ;
  display: grid;
  grid-template-rows: calc(0.33*var(--ban-size)) calc(0.66*var(--ban-size));

  text-align: center;
  align-items: center;
  line-height: var(--name-plate-height);
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.phase{
  grid-row: 1;

  font-size: 15px;
}

.picks-cont{
  width: var(--banner-width);
  height: var(--banner-height);
  background-color: var(--base-color);
}

/*Original size for champion banners:  308x560*/
.picks{
  width: var(--banner-width);
}
/*Original size for champion icons:  120x120*/
.bans{
  width: var(--ban-size); 
}

.picks-div{
  display: grid;
  grid-gap: 1px;
  background-color: white;
  grid-template-columns: var(--banner-width) var(--banner-width) var(--banner-width) var(--banner-width) var(--banner-width);
}

#Blue-Sup-SN{grid-column: 1;}
#Blue-Pick-Sup{grid-column: 1;}
#Blue-Bot-SN{grid-column: 2;}
#Blue-Pick-Bot{grid-column: 2;}
#Blue-Mid-SN{grid-column: 3;}
#Blue-Pick-Mid{grid-column: 3;}
#Blue-Jgl-SN{grid-column: 4;}
#Blue-Pick-Jgl{grid-column: 4;}
#Blue-Top-SN{grid-column: 5;}
#Blue-Pick-Top{grid-column: 5;}


#Red-Pick-Top{grid-column: 1;}
#Red-Top-SN{grid-column: 1;}
#Red-Pick-Jgl{grid-column: 2;}
#Red-Jgl-SN{grid-column: 2;}
#Red-Pick-Mid{grid-column: 3;}
#Red-Mid-SN{grid-column: 3;}
#Red-Pick-Bot{grid-column: 4;}
#Red-Bot-SN{grid-column: 4;}
#Red-Pick-Sup{grid-column: 5;}
#Red-Sup-SN{grid-column: 5;}

.bans-div-p1{
  display: inline;
}

.bans-div-p2{
  display: inline;
  padding-right: calc(0.5*var(--ban-size));
  padding-left: calc(0.5*var(--ban-size));
}

.bans-blue{
  grid-column: 1;
  grid-row: 2;

  text-align: right;
}
.bans-red{
  grid-column: 3;
  grid-row: 2;
}

.nameplate{
  text-transform: uppercase;
  box-sizing: border-box;
  position: absolute;
  display: inline;
  color: white;
  background-color: var(--base-color);
  top: calc(var(--banner-height) - var(--name-plate-height));
  height: var(--name-plate-height);
  width: var(--banner-width);
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: var(--name-plate-height);
  font-weight: bold;
}

span{
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}